name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build for ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [win-x64, osx-x64, osx-arm64, linux-x64]

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x

    - name: Publish
      run: |
        dotnet publish YoutubeDownloader.UI/YoutubeDownloader.UI.csproj -c Release -r ${{ matrix.target }} --self-contained true -p:PublishSingleFile=true -o release/${{ matrix.target }}

    - name: Rename executable (Linux/macOS)
      if: matrix.target != 'win-x64'
      run: |
        mv release/${{ matrix.target }}/YoutubeDownloader.UI release/${{ matrix.target }}/YoutubeDownloader

    - name: Rename executable (Windows)
      if: matrix.target == 'win-x64'
      run: |
         mv release/${{ matrix.target }}/YoutubeDownloader.UI.exe release/${{ matrix.target }}/YoutubeDownloader.exe

    - name: Zip Artifacts
      run: |
        cd release/${{ matrix.target }}
        zip -r ../../YoutubeDownloader-${{ matrix.target }}.zip .

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: YoutubeDownloader-${{ matrix.target }}.zip
